<!DOCTYPE html>
<html>
  <head>
    <title>NYU Photobooth</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link rel="stylesheet" href="../static/css/style.css" />
  </head>
  <body>
    <form method="POST">
    <div class="container home new-post">
      <h1> New Post </h1>
      <div id ="new-post-text"> 
        <p> <b> Your generated caption: </b> </p> 
        <p> {{prompt}} <p>
      </div>
      <h3>Post your reaction to the caption!</h3>
      <div id="camera">
        <!-- Camera sensor -->
        <canvas id="camera--sensor"></canvas>        <!-- Camera view -->
        <video id="camera--view" autoplay playsinline></video>        <!-- Camera output -->

        <img src="//:0" alt="" id="camera--output">        <!-- Camera trigger -->
        <div class = "button-container">
          <button class="btn btn-primary" id="camera--trigger"> Click! </button>
          <button style="display: none;"class="btn btn-outline-primary" id="camera--submit"> Continue </button>
          
        </div>
        <img alt="user's input image"> 

        <input type="hidden" id="opImage" name="opImage" required>
        <input type="hidden" id="opUser" name="opUser" value="{{user}}" required>
        <input type="hidden" id="opPrompt" name="opPrompt" value="{{prompt}}" required>
      
      </div>
    </div>
   </form>
    <script src="../static/app.js"></script>
  </body>
</html>