@font-face {
    font-family: GothamBold;
    src: url(../css/fonts/gotham/Gotham-Bold.otf);
}

.welcome {
    margin-top: 40px;
}

.btn.btn-outline-primary {
    border: 1px solid #330662;
    color: #330662;    
}

.btn.btn-outline-primary:hover {
    border: 1px solid #330662;
    background-color: #330662;
    color: white;
}

.btn.btn-primary {
    border: 1px solid #702b9d !important;
    background-color: #702b9d !important;
    font-family: Arial, Helvetica, sans-serif;
}

.btn.btn-primary:hover{
    border: 1px solid #330662 !important;
    background-color: #330662 !important;
}

body {
    background-color: #eee6f3;
}

.login h1 {
    font-family: GothamBold;
}

.login {
    color: #330662;  
    width: 70%;
    margin-top: 40px;
}

#loginUser {
    margin-bottom: 15px;
}

#loginPassword {
    margin-bottom: 15px;
}

.btn.btn-outline-primary.filter {
    padding-top: 6px;
    border-radius: 15px;
    font-size: 13px;
}

.home {
    margin-top: 20px;
}

.search {
    background-color:  #fcf9fe;
    margin-top: 8px;
    border-radius: 5px;
    border: 1px solid #7b5aa6 ;
    color:#330662;
    padding: 8px;
    font-size: 15px;
}

.btn.btn-outline-primary.search {
    font-size: 13px;
    padding-top: 2px;
    padding-bottom: 3px;
}

#new-post-text {
    color:white;
    padding: 15px;
    background-color:#330662 ;
    border-radius: 10px;
    border: 1px solid #7b5aa6 ;
    margin-bottom: 10px;

}

#new-post-text > *{
    margin-bottom: 5px;
}

#post-options {
    padding: 10px;
    text-align: center;
}

.posts-container {
    margin-bottom: 20px;
}

.post {
    background-color: #7b5aa6b8;
    border: 1px solid #7b5aa6;
    border-radius: 10px;
}

.post-info {
    color: white;
}